.display div:first-child{
	float: left;
	font-size: 2.5rem;
	margin-bottom: 3rem;
	color: #666666;
}

.display-pic{
	position: relative;
	width: 75rem;
	height: 40rem;
	margin: 1rem auto 0 -2.5rem;
	font: 1rem 'Rationale',sans-serif;
}

.slider, .img {
	width: inherit;
	height: inherit;
}

.slider {
	position: relative;
	overflow: hidden;
	background-color: #000;
	border: 0.8rem solid #eee;
	border-radius: 0.5rem;
	box-shadow: 0 0.7rem 2rem rgba(0,0,0,.5);
}

.img {
	position: absolute;
	margin-left: -0.8rem;
	/*width: 750rem;*/
	perspective: 50rem;
}

.img1 .frag {
	background-image: url(../images/img01.jpg);
	background-size: 75rem;
}

.img2 .frag {background-image: url(../images/img02.jpg);
	background-size: 75rem;
}

.img3 .frag {background-image: url(../images/img03.jpg);
	background-size: 75rem;
}

.img4 .frag {background-image: url(../images/img04.jpg);
	background-size: 75rem;
}

.img5 .frag {background-image: url(../images/img05.jpg);
	background-size: 75rem;
}

.img6 .frag {background-image: url(../images/img06.jpg);
	background-size: 75rem;
}

.frag {
	width: 15rem;
	height: inherit;
	float: left;
	opacity: 0;
	z-index: 0;
	transform-origin: center right;
	transform: rotateY(90deg) translateZ(10rem) scale(1.5);
	transition: transform .6s, opacity .6s, -webkit-filter 2s ease-out;
	-webkit-filter: saturate(0) blur(1rem) brightness(.6) contrast(4);
}

.img .frag2  {
	background-position: -15rem 0;
	transition-delay: .2s;
}

.img .frag3  {
	background-position: -30rem 0;
	transition-delay: .4s;
}

.img .frag4  {
	background-position: -45rem 0;
	transition-delay: .6s;
}

.img .frag5  {
	background-position: -60rem 0;
	transition-delay: .8s;
}

.img .frag6  {
	background-position: -75rem 0;
	transition-delay: 1s;
}
#slide1:checked ~ .slider .img1 .frag,
#slide2:checked ~ .slider .img2 .frag,
#slide3:checked ~ .slider .img3 .frag,
#slide4:checked ~ .slider .img4 .frag,
#slide5:checked ~ .slider .img5 .frag,
#slide6:checked ~ .slider .img6 .frag {
	transform: rotateY(0) translateZ(0) scale(1);
	-webkit-filter: saturate(1) blur(0) brightness(1) contrast(1);
	opacity: 1;
	z-index: 1;
}

.controls {
	position: absolute;
	bottom: -8rem;
	left: 50%;
	margin-left: -11.5rem;
}

.controls label {
	display: block;
	height: 1rem;
	width: 3rem;
	float: left;
	background-color: #000;
	margin-right: 1rem;
	cursor: pointer;
	opacity: .2;
	transition:opacity .5s;
}

.controls label:hover,
.side-controls label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5),
#slide6:checked ~ .controls label:nth-of-type(6) {
	opacity: .8;
}

.side-controls label {
	position: absolute;
	display: block;
	border-top: 3rem solid transparent;
	border-bottom: 3rem solid transparent;
	top: 50%;
	margin-top: 3rem;
	cursor: pointer;
	opacity: .2;
	transition:opacity .5s;
}

#slide1:checked ~ .side-controls label:nth-of-type(6),
#slide2:checked ~ .side-controls label:nth-of-type(1),
#slide3:checked ~ .side-controls label:nth-of-type(2),
#slide4:checked ~ .side-controls label:nth-of-type(3),
#slide5:checked ~ .side-controls label:nth-of-type(4),
#slide6:checked ~ .side-controls label:nth-of-type(5) {
	left: -4rem;
	border-right: 4rem solid #000;
}

#slide1:checked ~ .side-controls label:nth-of-type(2),
#slide2:checked ~ .side-controls label:nth-of-type(3),
#slide3:checked ~ .side-controls label:nth-of-type(4),
#slide4:checked ~ .side-controls label:nth-of-type(5),
#slide5:checked ~ .side-controls label:nth-of-type(6),
#slide6:checked ~ .side-controls label:nth-of-type(1) {
	right: -4rem;
	border-left: 4rem solid #000;
}

.slider {
	background-color: #000;
}

.display-pic > input {
	display:none;
}

.captions > div {
	position: absolute;
	right: 2rem;
	bottom: 0.7rem;
	color: transparent;
	text-shadow: 0 0 6rem transparent;
	font-size: 3rem;
	z-index: 1;
	text-transform: uppercase;
	transition: text-shadow 2s;

}

#slide2:checked ~ .slider .captions .c2,
#slide1:checked ~ .slider .captions .c1,
#slide3:checked ~ .slider .captions .c3,
#slide4:checked ~ .slider .captions .c4,
#slide5:checked ~ .slider .captions .c5,
#slide6:checked ~ .slider .captions .c6 {
	text-shadow: 0 0 0 rgba(255,255,255,.9)
}