figure.allPhotos {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    width: 90%;
    height: 20rem;
    background: #ffffff;
    color: #000000;
    border-radius:5px;
    box-shadow:0 0 4px 4px rgba(37, 37, 37, 0.41);
}
figure.allPhotos * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.allPhotos > img {
    width: 50%;
    border-radius: 50%;
    border: 4px solid #ffffff;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    position: relative;
    float: right;
    right: -15%;
    z-index: 999;
}
figure.allPhotos figcaption {
    padding: 20px 30px 20px 20px;
    position: absolute;
    left: 0;
    width: 50%;
}
figure.allPhotos figcaption h2,
figure.allPhotos figcaption p {
    margin: 0;
    text-align: left;
    padding: 10px 0;
    width: 100%;
}
figure.allPhotos figcaption h2 {
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.allPhotos figcaption h2 span {
    font-weight: 800;
}
figure.allPhotos figcaption p {
    font-size: 0.9em;
    opacity: 0.8;
}

figure.allPhotos:hover > img,
figure.allPhotos.hover > img {
    right: -12%;
}

.mask{
    z-index: 1000;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
}

.bbb{
    display: none;
    width: 70%;
    height: 70%;
    position: fixed;
    left: 15%;
    top: 15%;
    background: rgb(122, 182, 182);
}

.zoom-img{
    /*background-color: blue;*/
    width: 70%;
    height: 70%;
    position: fixed;
    top: 15%;
    left: 15%;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
}

.close1{
    width:1.5em;
    float:right;
    margin-top: -2.5em;
    cursor: pointer;
    display: none;
}

.wrap{
    z-index: 1600;
    display: none;
    width:300px;
    margin:0 auto;
    text-align:center;
    overflow: hidden;
    /*background-color: #fff;*/
    position: absolute;
    left: 40%;
    top: 50%;
}

label[for=upload]{
    z-index: 1600;
    display:inline-block;
    border:3px solid #ccc;
    color:#666;
    font-weight:bold;
    background:#eee;
    padding:8px 15px;
    border-radius:5px;
    cursor:pointer
}

label[for=upload]:hover{
    background:#ddd
}

label[for=upload] input{ display:none }
.thumb{
    position:relative;
    height:300px;
    width:300px;
    overflow:hidden;
    margin:40px 0;
    cursor:move;

}

.thumb:before{
    content:"";
    display:block;
    position:absolute;
    width:96%;
    height:96%;
    border:3px dashed #eee;
    z-index:9;
    top:1%;
    left:1%;
    opacity:0;
    transition:all 0.2s;
    pointer-events:none
}

.thumb:hover::before{
    opacity:0.6
}

.thumb img{
    z-index: 1600;
    width:100%;
    max-width:800px;
    max-height:800px;
    transition:all 0.4s;
}

